<!-- The Top Bar -->

<div id="topbar-wrapper" style="top: 0;">
    <div
      id="topbar"
      class="container d-flex align-items-center justify-content-between h-100 px-3 px-md-4 px-xxl-5"
    >
      <span id="breadcrumb">
        {% assign paths = page.url | split: '/' %}
  
        {% if page.layout == 'home' %}
          <span><a href="#">윤준영, 더불어 성장하는 개발자</a></span>&nbsp;&nbsp;&nbsp;
          <span><a href="/categories/">카테고리</a></span>&nbsp;&nbsp;&nbsp;
          <span><a href="/tags/">태그</a></span>
        {% elsif page.layout == 'categories' %}
          <span><a href="/">윤준영, 더불어 성장하는 개발자</a></span>&nbsp;&nbsp;&nbsp;
          <span><a href="#" class="selected">카테고리</a></span>&nbsp;&nbsp;&nbsp;
          <span><a href="/tags/">태그</a></span>
        {% elsif page.layout == 'tags' %}
          <span><a href="/">윤준영, 더불어 성장하는 개발자</a></span>&nbsp;&nbsp;&nbsp;
          <span><a href="/categories/">카테고리</a></span>&nbsp;&nbsp;&nbsp;
          <span><a href="#" class="selected">태그</a></span>
        {% else %}
          <span><a href="/">윤준영, 더불어 성장하는 개발자</a></span>&nbsp;&nbsp;&nbsp;
          <span><a href="/categories/">카테고리</a></span>&nbsp;&nbsp;&nbsp;
          <span><a href="/tags/">태그</a></span>
        {% endif %}
      </span>
      <!-- endof #breadcrumb -->
  
      <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>
  
      <div id="topbar-title-custom">
        <a href="/">윤준영, 더불어 성장하는 개발자</a>
      </div>
  
      <i id="search-trigger" class="fas fa-search fa-fw"></i>
      <span id="search-cancel"><i class="fas fa-xmark"></i></span>
      <span id="search-wrapper" class="align-items-center">
        <i class="fas fa-search fa-fw"></i>
        <input
          class="form-control"
          id="search-input"
          type="search"
          aria-label="search"
          autocomplete="off"
          placeholder="검색"
        >
      </span>
    </div>
  </div>