---
---

@import '{{ site.theme }}';

$tab-count: 4; /* backward compatible (version <= 4.0.2) */
$tab-height: 3rem;
$tab-cursor-height: 1.6rem;
$cursor-width: 2px; /* the cursor width of the selected tab */

/* append your custom style below */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body {
    font-family: ui-sans-serif,system-ui,apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,"Apple Color Emoji",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
}

#topbar-title {
    font-size: 1.3rem;
    margin-top: 3px;
}

#topbar-wrapper {
    height: 3.5rem;
    left: 0;

    a {
        color: var(--text-color);
    }
}

#breadcrumb > span:nth-child(1) {
    color: var(--text-color);
}

#page-category a:hover, #page-tag a:hover, .post-tail-wrapper .license-wrapper>a:hover, #search-results a:hover, #topbar #breadcrumb a:hover, .post-content a:not(.img-link):hover, .post-meta a:not([class]):hover, #access-lastmod a:hover, footer a:hover {
    color: var(--heading-color) !important;
    border-bottom: 0;
}

#topbar #breadcrumb {
    font-weight: 600;
}

#search-wrapper {
    height: 2.3rem;
    border-radius: 10px;
    width: 92%;
}

.card-text {
    font-size: 1.03rem !important;
}

#sidebar {
    transform: translateX(-350px);
    -webkit-transform: translateX(-350px);

    .site-title a {
        color: var(--text-color);
    }

    #avatar > a {
        border: none;
    }

    .nav-item {
        text-align: center;
        display: table;
        height: $tab-height;
    
        &.active {
          .nav-link {
            color: var(--sidebar-active-color);
          }
        }
    
        &:not(.active) > a {
          @extend %clickable-transition;
        }
    }
    
    ul {
        height: $tab-height * $tab-count;
        margin-bottom: 2rem;
        padding-left: 0;
    
        li {
            width: 100%;
    
            &:last-child {
            a {
                position: relative;
                left: calc($cursor-width / 2);
                width: 100%;
            }
    
            /* the cursor */
            &::after {
                display: table;
                visibility: hidden;
                content: '';
                position: relative;
                right: 1px;
                width: $cursor-width;
                height: $tab-cursor-height;
                border-radius: 1px;
                background-color: var(--nav-cursor-color);
                pointer-events: none;
            }
            }
        } /* li */
    
        @mixin fix-cursor($top) {
            top: $top;
            visibility: visible;
        }
    
        @for $i from 1 through $tab-count {
            $offset: $tab-count - $i;
            $top: (-$offset * $tab-height) +
            (($tab-height - $tab-cursor-height) * 0.5);
    
            @if $i < $tab-count {
            > li.active:nth-child(#{$i}),
            > li.nav-item:nth-child(#{$i}):hover {
                ~ li:last-child::after {
                @include fix-cursor($top);
                }
            }
            } @else {
            > li.active:nth-child(#{$i}):last-child::after,
            > li.nav-item:nth-child(#{$i}):last-child:hover::after {
                @include fix-cursor($top);
            }
            }
        } /* @for */
    } /* ul */
}

#post-list .post-preview {
    border: 1px solid rgb(122 122 122 / 10%);
    background: #8e8e8e08;
}

#toc-wrapper ul {
    font-size: .9rem;
}

#panel-wrapper {
    padding-left: 0 !important;
}

#toc-wrapper .panel-heading {
    display: none;
}

footer {
    margin-left: 0 !important;
}

@media (min-width: 768px) {
    .pl-md-2 {
        padding-left: 0 !important;
    }
}

@media (min-width: 850px) {
    #main-wrapper, footer {
        margin-left: 20%;
    }
}

@media (min-width: 850px) and (max-width: 991px) {
    #main-wrapper, footer {
        margin-left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #main .col-lg-11 {
        max-width: 800px;
    }

    #main-wrapper {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .post-content {
        font-size: 1.1rem;
    }
    
    #search-wrapper {
        margin-right: 0;
    }

    .pl-xl-4 {
        padding-left: 0 !important;
    }

    .col-xl-3 {
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-xl-9 {
        max-width: 80%;
    }
}