---
---

@import '{{ site.theme }}';

$tab-count: 4; /* backward compatible (version <= 4.0.2) */
$tab-height: 3rem;
$tab-cursor-height: 1.6rem;
$cursor-width: 2px; /* the cursor width of the selected tab */

/* append your custom style below */

body {
    font-family: HelveticaNeue-Light,AppleSDGothicNeo-Light,'Malgun Gothic','맑은 고딕',sans-serif; 
}

#topbar-title {
    font-size: 1.3rem;
    margin-top: 3px;
}

#topbar-wrapper {
    height: 3.5rem;

    a {
        color: var(--text-color);
    }
}

#breadcrumb > span:nth-child(1) {
    color: var(--text-color);
}

#page-category a:hover, #page-tag a:hover, .post-tail-wrapper .license-wrapper>a:hover, #search-results a:hover, #topbar #breadcrumb a:hover, .post-content a:not(.img-link):hover, .post-meta a:not([class]):hover, #access-lastmod a:hover, footer a:hover {
    color: var(--heading-color) !important;
    border-bottom: 0;
}

#topbar #breadcrumb {
    font-weight: 600;
}

#search-wrapper {
    height: 2.3rem;
    border-radius: 10px;
    width: 92%;
}

#sidebar {
    .site-title a {
        color: var(--text-color);
    }

    #avatar > a {
        border: none;
    }

    .nav-item {
        text-align: center;
        display: table;
        height: $tab-height;
    
        &.active {
          .nav-link {
            color: var(--sidebar-active-color);
          }
        }
    
        &:not(.active) > a {
          @extend %clickable-transition;
        }
    }
    
    ul {
        height: $tab-height * $tab-count;
        margin-bottom: 2rem;
        padding-left: 0;
    
        li {
            width: 100%;
    
            &:last-child {
            a {
                position: relative;
                left: calc($cursor-width / 2);
                width: 100%;
            }
    
            /* the cursor */
            &::after {
                display: table;
                visibility: hidden;
                content: '';
                position: relative;
                right: 1px;
                width: $cursor-width;
                height: $tab-cursor-height;
                border-radius: 1px;
                background-color: var(--nav-cursor-color);
                pointer-events: none;
            }
            }
        } /* li */
    
        @mixin fix-cursor($top) {
            top: $top;
            visibility: visible;
        }
    
        @for $i from 1 through $tab-count {
            $offset: $tab-count - $i;
            $top: (-$offset * $tab-height) +
            (($tab-height - $tab-cursor-height) * 0.5);
    
            @if $i < $tab-count {
            > li.active:nth-child(#{$i}),
            > li.nav-item:nth-child(#{$i}):hover {
                ~ li:last-child::after {
                @include fix-cursor($top);
                }
            }
            } @else {
            > li.active:nth-child(#{$i}):last-child::after,
            > li.nav-item:nth-child(#{$i}):last-child:hover::after {
                @include fix-cursor($top);
            }
            }
        } /* @for */
    } /* ul */
}

@media (min-width: 1200px) {
    #search-wrapper {
        margin-right: 0;
    }
}